<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Contact Details Page</title>
</head>
<body>
	<h1>Contact Details</h1>
	
		<table>
		<tr>
			<th>ID</th>
			<th>FirstName</th>
			<th>MiddleName</th>
			<th>LastName</th>
			<th>PhoneNumber</th>
		</tr>
		<tr>
			<td th:text="${contact.id}"></td>
			<td th:text="${contact.firstName}"></td>
			<td th:text="${contact.middleName}"></td>
			<td th:text="${contact.lastName}"></td>
			<td th:text="${contact.phoneNumber}"></td>
		</tr>
	</table>
	
	
</body>
</html>