<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Create User Page</title>
</head>
<body>
	<h1>Register User Page</h1>
	
	<form method="POST" action="/users/registerUser">
		FirstName: 	<input type="text" name="firstName"> <br>
		Last Name: 	<input type="text" name="lastName"> <br>
		Email: 		<input type="text" name="email"> <br>
		User name: 	<input type="text" name="username"> <br>
		Password: 	<input type="text" name="password"> <br>
					<input type="submit" value="Register">
	</form>
	
</body>
</html>