<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title> Contacts List </title>
</head>
<body>
	<h1> Index Page </h1>
	
	<h2> List of Contacts </h2>
	
	<table>
		<tr>
			<th>ID</th>
			<th>FirstName</th>
			<th>MiddleName</th>
			<th>LastName</th>
			<th>PhoneNumber</th>
		</tr>
		<tr  th:each="contact: ${contacts}">
			<td th:text="${contact.id}"></td>
			<td th:text="${contact.firstName}"></td>
			<td th:text="${contact.middleName}"></td>
			<td th:text="${contact.lastName}"></td>
			<td th:text="${contact.phoneNumber}"></td>
		</tr>
	</table>
</body>
</html>