<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Add a Trainee HTML Page</title>
<body>
	 <h2>Add a Trainee Page</h2>
	 <form action="/addTrainee" method="POST">
	 	<label> Name: </label>
	 	<input name="name" type="text">
	 	
	 	<label> Email: </label>
	 	<input name="email" type="text">
	 	
	 	<label> Location: </label>
	 	<input name="location" type="text">
	 	
	 	<label> Stream: </label>
	 	<input name="Stream" type="text">
	 	<!--
	 	<label> Cups of Coffee: </label>
	 	<input name="cupsOfCoffee" type="text">
		-->
	 	<input type="submit"> 
	 </form>
</body>
</html>