<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Update Employee</title>
</head>
<body>
	<h1> Update Employee</h1>
	 
	<form method="POST" action="/createEmployee">
		  
		ID:			<input type="text" name="value" readonly th:field="${employee.id}"> <br>
		FirstName: 	<input type="text" name="firstName" th:field="${employee.firstName}"> <br>
		Last Name: 	<input type="text" name="lastName" th:field="${employee.lastName}"> <br>
		salary: 	<input type="text" name="salary" th:field="${employee.salary}"> <br>
		state: 		<input type="text" name="state" th:field="${employee.state}"> <br>
		country: 	<input type="text" name="country" th:field="${employee.country}"> <br>
		
					<input type="submit" value="UPDATE">
	</form>
	
	
</body>
</html>