<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title> Spring WEB Index Page</title>
<body>
	 <h1>Welcome !!!</h1>
	 <ul>
	 	<li> 	<a href="/"> Home </a> </li>
	 	<li>	<a href="/courses"> Courses </a>  </li>
	 	<li>	<a href="/forwardExample"> Forward Example </a>  </li>
	 	<li>	<a href="/toCreateTrainee"> Add Trainee </a>  </li>
	 	<li>	<a href="/toGoogle"> Google </a>  </li>
	 </ul>
	 <p>This is a paragraph.</p>
	 <br>
	 <form action="/googleSearch" method="GET">
	 	<label>Search Google: </label>
	 	<input name="searchTerm" type="text">
	 	<input type="submit" value="search"> 
	 </form>
</body>
</html>