<!DOCTYPE html>
<html lang="en" xmlns:th=https://www.thymeleaf.org>
<meta charset="UTF-8">
<title> Registration Page </title>
<body>

	 <h1> Registration HTML !!!!!</h1>
	
	<h2> register here </h2>
	<a href="/login">Login</a>
	<div>
		<!-- replace content of this element with what passed to th:text
			variable expression: ${variableName}
			allows us to grab a value from within this variable where
			the variable refers to an attribute within the req/resp.
		-->
		<h2 th:text="${message}"></h2>
	</div>
	
	<form method="post"  action="/processRegistration">
	
		<label> First Name: </label>
		<input name="firstName" type="text">
		<br>
		
		<label> Last Name: </label>
		<input name="lastName" type="text">
		<br>
		
		<label> Email: </label>
		<input name="email" type="email" required>
		<br>
		
		<label> User Name: </label>
		<input name="username" type="text" required>
		<br>
		
		<label> password: </label>
		<input name="password" type="password" required>
		<br>

		<label> validate password: </label>
		<input name="passwordValidation" type="password" required>
		<br>
		
		<input type="submit" value="Register">
		
	</form>
	
</body>
</html>